<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>my projects lmao</title>
</head>
<body class="bg-dark text-white">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-danger" href="/about">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="#">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="/activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-danger" href="/projects">Projects</a>
        </li>
    </ul>
    <div class="container text-center">
        <h1 class="display-1 mt-5 text-danger"><em>heres my project</em></h1>
        <p>'tis a mega oof</p>

        <a class="nav-link text-danger" href="https://scratch.mit.edu/projects/315048025/"><u>bear gets a big bööf</u></a>
    </div>
</body>
</html>